.inbox {
	background-color: $primary-background-color;
	color: $inbox-text-color;

	&-topbar {
		display: flex;
		justify-content: space-between;
		padding: 25px 30px 10px;

		.title {
			font-size: 2rem;
		}
	}

	&-actionbar {
		display: flex;
		padding: 0px 30px 10px;
		justify-content: space-between;

		.actions {
			&-refresh {
				i {
					margin-right: 5px;
				}
			}
			button {
				margin-right: 5px;
			}
		}
	}

	.email-list {
		padding: 0px 30px;
	}
}
