@import '../badge';
@import './searchbar';
@import './info';

@mixin header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-searchbar {
		display: flex;
		flex-grow: 6;
		@include header-searchbar();
	}

	&-info {
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
		@include header-info();
	}
}
