@mixin header-info {
	button {
		cursor: pointer;
		background-image: none;
		border: none;
		background-color: $primary-background-color;
		color: $primary-text-color;
		font-size: inherit;
		margin-left: 10px;
	}

	.logout {
		i {
			margin-right: 5px;
		}
	}
}
