@mixin header-searchbar {
	button {
		@include center-align();

		cursor: pointer;
		color: #fff;
		background: $primary-color;
		border: 0;
		text-shadow: none;
		outline: none;
		padding: 8px 11px;
		font-size: 15px;
		border-radius: 3px;
		margin-right: 10px;
	}

	input {
		width: 100%;
		border: none;
	}
}
