.badge {
	@include center-align();

	position: absolute;
	top: -65%;
	right: -5%;
	min-width: 10px;
	min-height: 10px;
	border-radius: 3px;
	font-size: 10px;
	padding: 3px;
	color: #fff;

	@each $badge-type, $color in $badge-colors {
		&-#{$badge-type} {
			position: relative;
			display: inline-block;

			span {
				background-color: $color;
			}
		}
	}
}
