.chips {
	&-btn {
		border: 0;
		padding: 2px 5px;
		color: #fff;
		border-radius: 3px;

		@each $catagory-type, $color in $categories-colors {
			&.#{$catagory-type} {
				background-color: $color;
			}
		}

		@each $folder-name, $color in $folders-colors {
			&.#{$folder-name} {
				background-color: $color;
			}
		}
	}
}
