//colors
$primary-color: #00b494;
$primary-background-color: white;
$primary-text-color: #999c9e;
$primary-border-color: #e7eaec;
$login-card-background-color: #f3f3f4;
$mailbox-background-color: #f3f3f4;
$badge-colors: (
	email: #faad50,
	notification: #00b494
);
$inbox-text-color: #686b6d;

// sizes
$font-size: 14px;

$error-color: red;
$header-height: 50px;
