//colors
$primary-color: #00b494;
$primary-background-color: white;
$primary-text-color: #686b6d;
$login-card-background-color: #f3f3f4;

// sizes
$font-size: 14px;

$error-color: red;
$header-height: 50px;
