@import 'variables';
@import 'helpers';

html,
body {
	height: 100%;
	width: 100%;
	color: $primary-text-color;
	font-size: $font-size;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5;

	.root {
		height: 100%;
		width: 100%;
		overflow: auto;
	}
}
@import './components/chips';
@import './components/checkbox';
@import './components/button';
@import './components/modal';
@import './components/email/emaillist';
@import './components/inbox/inbox';
@import './pages/login';
@import './pages/mailbox';
