@import 'variables';
@import 'helpers';

html,
body {
	height: 100%;
	width: 100%;
	color: $primary-text-color;
	font-size: $font-size;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	margin: 0;

	.root {
		height: 100%;
		width: 100%;
		overflow: auto;
	}

	button:focus {
		outline: 0;
	}
}
@import './commons';
@import './components/chips';
@import './components/checkbox';
@import './components/button';
@import './components/avatar';
@import './components/profile';
@import './components/modal';
@import './components/email/emaillist';
@import './components/email/compose';
@import './components/mailBoxInfo/mailBoxInfo';
@import './components/sentMail/sentMail.scss';
@import './pages/login';
@import './pages/mailbox';
